In [1]:
import pandas as pd

In [2]:
f = "../data/raws/20220406/ESOLMET-CR1000_Tabla_diez_min.dat"
tmx = pd.read_csv( f, skiprows=[0,2,3], sep="\t", encoding="latin1", engine="python")
tmx.head()

,TIMESTAMP,RECORD,Batt_Volt_Min,I_glo_Avg,I_dir_Avg,I_dif_Avg,AirTC_Avg,AirTC_Max,AirTC_Min,AirTC_Std,...,RH_Max,RH_Min,RH_Std,WS_ms_Avg,WS_ms_Max,WS_ms_Min,WS_ms_Std,WindDir,CS106_PB_Avg,Rain_mm_Tot
0,04/02/2022 15:10,37320,13.12,733.4,949.0,53.81,29.87,30.28,29.43,0.250,...,24.70,22.59,0.470,1.734,4.70,0.00,1.016,152.1,876.5520,0.0
1,04/02/2022 15:20,37321,13.11,709.4,946.0,53.07,29.62,30.18,28.98,0.306,...,26.44,21.05,1.573,2.384,5.45,0.00,1.333,73.72,876.4539,0.0
2,04/02/2022 15:30,37322,13.10,685.7,946.0,52.12,29.38,29.83,28.92,0.241,...,26.95,21.02,1.037,3.735,6.95,0.95,1.137,90.9,876.4044,0.0
3,04/02/2022 15:40,37323,13.10,645.9,927.0,51.68,29.20,30.11,28.78,0.327,...,25.21,22.93,0.404,1.364,3.95,0.00,1.074,121.5,876.2992,0.0
4,04/02/2022 15:50,37324,13.10,609.1,908.0,51.54,30.02,30.31,29.73,0.140,...,23.51,21.29,0.357,2.803,6.20,0.00,1.305,171,876.2901,0.0

In [3]:
tmx["TIMESTAMP"] = pd.to_datetime(tmx["TIMESTAMP"], dayfirst=True,format="%d/%m/%Y %H:%M", errors="coerce")
tmx = tmx.set_index("TIMESTAMP")
tmx = tmx.sort_index()
tmx

,RECORD,Batt_Volt_Min,I_glo_Avg,I_dir_Avg,I_dif_Avg,AirTC_Avg,AirTC_Max,AirTC_Min,AirTC_Std,RH_Avg,RH_Max,RH_Min,RH_Std,WS_ms_Avg,WS_ms_Max,WS_ms_Min,WS_ms_Std,WindDir,CS106_PB_Avg,Rain_mm_Tot
TIMESTAMP,,,,,,,,,,,,,,,,,,,,
2022-02-04 15:10:00,37320,13.12,733.4,949.0,53.81,29.87,30.28,29.43,0.250,23.76,24.70,22.59,0.470,1.734,4.70,0.00,1.016,152.1,876.5520,0.0
2022-02-04 15:20:00,37321,13.11,709.4,946.0,53.07,29.62,30.18,28.98,0.306,24.25,26.44,21.05,1.573,2.384,5.45,0.00,1.333,73.72,876.4539,0.0
2022-02-04 15:30:00,37322,13.10,685.7,946.0,52.12,29.38,29.83,28.92,0.241,24.42,26.95,21.02,1.037,3.735,6.95,0.95,1.137,90.9,876.4044,0.0
2022-02-04 15:40:00,37323,13.10,645.9,927.0,51.68,29.20,30.11,28.78,0.327,24.18,25.21,22.93,0.404,1.364,3.95,0.00,1.074,121.5,876.2992,0.0
2022-02-04 15:50:00,37324,13.10,609.1,908.0,51.54,30.02,30.31,29.73,0.140,22.39,23.51,21.29,0.357,2.803,6.20,0.00,1.305,171,876.2901,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-06 10:10:00,46074,13.17,778.4,843.0,107.9,27.99,28.38,27.60,0.217,30.39,31.65,29.61,0.435,1.291,3.20,0.00,1.054,136.7,875.6359,0.0
2022-04-06 10:20:00,46075,13.16,810.0,857.0,108,28.03,28.44,27.66,0.221,30.19,30.93,29.20,0.437,1.283,3.20,0.00,0.827,80.7,875.4944,0.0
2022-04-06 10:30:00,46076,13.15,836.0,859.0,110.1,28.41,28.72,28.00,0.163,29.35,30.15,28.45,0.423,1.390,3.95,0.00,0.797,81.2,875.3950,0.0
2022-04-06 10:40:00,46077,13.14,864.0,860.0,114.4,28.00,28.68,27.56,0.344,29.25,30.15,27.53,0.599,1.382,3.95,0.00,0.906,69.69,875.3365,0.0
2022-04-06 10:50:00,46078,13.14,898.0,872.0,117.8,28.65,28.99,28.37,0.154,26.70,28.11,24.39,0.882,1.766,3.95,0.00,0.835,129.5,875.3162,0.0

In [4]:
inicio = "2022-02-04 15:10"
fin    = "2022-04-06 10:50"

tmx_recorte = tmx.loc[inicio:fin]
tmx_recorte.head()

,RECORD,Batt_Volt_Min,I_glo_Avg,I_dir_Avg,I_dif_Avg,AirTC_Avg,AirTC_Max,AirTC_Min,AirTC_Std,RH_Avg,RH_Max,RH_Min,RH_Std,WS_ms_Avg,WS_ms_Max,WS_ms_Min,WS_ms_Std,WindDir,CS106_PB_Avg,Rain_mm_Tot
TIMESTAMP,,,,,,,,,,,,,,,,,,,,
2022-02-04 15:10:00,37320,13.12,733.4,949.0,53.81,29.87,30.28,29.43,0.250,23.76,24.70,22.59,0.470,1.734,4.70,0.00,1.016,152.1,876.5520,0.0
2022-02-04 15:20:00,37321,13.11,709.4,946.0,53.07,29.62,30.18,28.98,0.306,24.25,26.44,21.05,1.573,2.384,5.45,0.00,1.333,73.72,876.4539,0.0
2022-02-04 15:30:00,37322,13.10,685.7,946.0,52.12,29.38,29.83,28.92,0.241,24.42,26.95,21.02,1.037,3.735,6.95,0.95,1.137,90.9,876.4044,0.0
2022-02-04 15:40:00,37323,13.10,645.9,927.0,51.68,29.20,30.11,28.78,0.327,24.18,25.21,22.93,0.404,1.364,3.95,0.00,1.074,121.5,876.2992,0.0
2022-02-04 15:50:00,37324,13.10,609.1,908.0,51.54,30.02,30.31,29.73,0.140,22.39,23.51,21.29,0.357,2.803,6.20,0.00,1.305,171,876.2901,0.0

In [5]:
output_path = "../data/raws/20220406_recorte.parquet"
tmx_recorte.to_parquet(output_path, index=True)