In [1]:
import pandas as pd

In [2]:
f = "../data/raws/20220517/ESOLMET-IP_Tabla_diez_min.dat"
tmx = pd.read_csv( f, skiprows=[0,2,3], sep="\t", encoding="latin1", engine="python")
tmx.head()

Error: '	' expected after '"'

In [3]:
f = "../data/raws/20220517/ESOLMET-IP_Tabla_diez_min.dat"
tmx = pd.read_csv( f, skiprows=[0,2,3], sep=",", encoding="latin1", engine="c", on_bad_lines='skip' )
tmx

,TIMESTAMP,RECORD,Batt_Volt_Min,I_glo_Avg,I_dir_Avg,I_dif_Avg,AirTC_Avg,AirTC_Max,AirTC_Min,AirTC_Std,...,RH_Max,RH_Min,RH_Std,WS_ms_Avg,WS_ms_Max,WS_ms_Min,WS_ms_Std,WindDir,CS106_PB_Avg,Rain_mm_Tot
0,2022-04-22 15:00:00,0,13.05,983,768.5,163.1,30.03,30.52,29.33,0.297,...,34.07,31.58,0.481,1.426,4.70,0.0,1.416,220.5,875.9501,0.0
1,2022-04-22 14:10:00,1,13.05,960,752.5,167.7,29.31,29.70,28.78,0.250,...,35.29,32.67,0.593,1.604,3.95,0.0,0.649,336,875.6474,0.0
2,2022-04-22 14:20:00,2,13.04,944,745.8,169.5,29.83,30.48,29.22,0.387,...,33.96,31.27,0.543,1.572,4.70,0.0,1.047,151.3,875.5224,0.0
3,2022-04-22 14:30:00,3,13.03,920,727.4,170.6,30.80,31.20,30.35,0.228,...,31.95,30.22,0.403,0.654,3.95,0.0,0.840,38.46,875.4123,0.0
4,2022-04-22 14:40:00,4,13.00,906,765.2,177.3,31.24,31.40,30.99,0.083,...,31.68,30.11,0.353,1.376,3.95,0.0,1.030,101,875.1853,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3157,2022-05-17 11:00:00,2553,13.01,NAN,741.4,NAN,29.61,29.94,29.16,0.199,...,30.93,28.48,0.473,1.700,3.95,0.0,0.925,NAN,878.9105,0.0
3158,2022-05-17 11:10:00,2554,12.99,0,744.9,NAN,30.01,30.38,29.43,0.233,...,30.53,28.34,0.435,1.426,3.20,0.0,0.872,NAN,878.7695,0.0
3159,2022-05-17 11:20:00,2555,12.98,NAN,747.2,NAN,30.54,31.17,30.11,0.276,...,29.37,27.63,0.315,1.282,5.45,0.0,1.227,48.76,878.6452,0.0
3160,2022-05-17 11:30:00,2556,13.03,0,742.9,NAN,30.26,30.96,29.63,0.331,...,30.15,27.76,0.552,2.567,5.45,0.0,1.209,30.26,878.5762,0.0
3161,2022-05-17 11:40:00,2557,13.02,0,744.9,NAN,30.57,30.86,30.18,0.149,...,29.57,28.17,0.296,1.400,3.20,0.0,0.815,90.7,878.5311,0.0

In [4]:
# Ver ejemplos de TIMESTAMP
print(tmx["TIMESTAMP"].head(10))

0    2022-04-22 15:00:00
1    2022-04-22 14:10:00
2    2022-04-22 14:20:00
3    2022-04-22 14:30:00
4    2022-04-22 14:40:00
5    2022-04-22 14:50:00
6    2022-04-22 15:00:00
7    2022-04-22 15:10:00
8    2022-04-22 15:20:00
9    2022-04-22 15:30:00
Name: TIMESTAMP, dtype: object

In [5]:
tmx["TIMESTAMP"] = pd.to_datetime( tmx["TIMESTAMP"], format="%Y-%m-%d %H:%M:%S", errors="coerce")
tmx = tmx.set_index("TIMESTAMP")
tmx = tmx.sort_index()
tmx

,RECORD,Batt_Volt_Min,I_glo_Avg,I_dir_Avg,I_dif_Avg,AirTC_Avg,AirTC_Max,AirTC_Min,AirTC_Std,RH_Avg,RH_Max,RH_Min,RH_Std,WS_ms_Avg,WS_ms_Max,WS_ms_Min,WS_ms_Std,WindDir,CS106_PB_Avg,Rain_mm_Tot
TIMESTAMP,,,,,,,,,,,,,,,,,,,,
2022-04-22 14:10:00,1,13.05,960,752.5,167.7,29.31,29.70,28.78,0.250,33.60,35.29,32.67,0.593,1.604,3.95,0.0,0.649,336,875.6474,0.0
2022-04-22 14:20:00,2,13.04,944,745.8,169.5,29.83,30.48,29.22,0.387,32.76,33.96,31.27,0.543,1.572,4.70,0.0,1.047,151.3,875.5224,0.0
2022-04-22 14:30:00,3,13.03,920,727.4,170.6,30.80,31.20,30.35,0.228,31.13,31.95,30.22,0.403,0.654,3.95,0.0,0.840,38.46,875.4123,0.0
2022-04-22 14:40:00,4,13.00,906,765.2,177.3,31.24,31.40,30.99,0.083,30.80,31.68,30.11,0.353,1.376,3.95,0.0,1.030,101,875.1853,0.0
2022-04-22 14:50:00,5,12.97,880,776.1,168.6,31.57,32.42,31.10,0.309,30.69,31.61,29.81,0.426,0.624,3.20,0.0,0.771,317,875.0080,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-17 11:00:00,2553,13.01,NAN,741.4,NAN,29.61,29.94,29.16,0.199,29.68,30.93,28.48,0.473,1.700,3.95,0.0,0.925,NAN,878.9105,0.0
2022-05-17 11:10:00,2554,12.99,0,744.9,NAN,30.01,30.38,29.43,0.233,29.29,30.53,28.34,0.435,1.426,3.20,0.0,0.872,NAN,878.7695,0.0
2022-05-17 11:20:00,2555,12.98,NAN,747.2,NAN,30.54,31.17,30.11,0.276,28.66,29.37,27.63,0.315,1.282,5.45,0.0,1.227,48.76,878.6452,0.0
2022-05-17 11:30:00,2556,13.03,0,742.9,NAN,30.26,30.96,29.63,0.331,29.18,30.15,27.76,0.552,2.567,5.45,0.0,1.209,30.26,878.5762,0.0
2022-05-17 11:40:00,2557,13.02,0,744.9,NAN,30.57,30.86,30.18,0.149,28.89,29.57,28.17,0.296,1.400,3.20,0.0,0.815,90.7,878.5311,0.0

In [6]:
inicio = "2022-04-22 15:00"
fin    = "2022-05-17 11:40"

tmx_recorte = tmx.loc[inicio:fin]
tmx_recorte.head()

,RECORD,Batt_Volt_Min,I_glo_Avg,I_dir_Avg,I_dif_Avg,AirTC_Avg,AirTC_Max,AirTC_Min,AirTC_Std,RH_Avg,RH_Max,RH_Min,RH_Std,WS_ms_Avg,WS_ms_Max,WS_ms_Min,WS_ms_Std,WindDir,CS106_PB_Avg,Rain_mm_Tot
TIMESTAMP,,,,,,,,,,,,,,,,,,,,
2022-04-22 15:00:00,0,13.05,983,768.5,163.1,30.03,30.52,29.33,0.297,32.61,34.07,31.58,0.481,1.426,4.70,0.0,1.416,220.5,875.9501,0.0
2022-04-22 15:00:00,6,12.98,837,754.0,163.9,32.92,33.14,32.39,0.145,28.85,30.22,28.04,0.466,0.273,2.45,0.0,0.544,218.6,874.8834,0.0
2022-04-22 15:10:00,7,12.98,804,733.2,161,31.96,32.87,31.27,0.532,29.95,31.17,28.82,0.542,1.168,3.95,0.0,0.918,215.5,874.6387,0.0
2022-04-22 15:20:00,8,12.97,760.1,700.7,161.3,31.32,31.61,30.86,0.124,30.21,31.65,29.37,0.322,2.196,5.45,0.0,1.253,284.8,874.4121,0.0
2022-04-22 15:30:00,9,12.54,723.9,683.4,159,31.26,31.81,30.79,0.273,30.38,31.41,29.36,0.537,1.925,4.70,0.0,0.994,184.9,874.2305,0.0

In [7]:
output_path = "../data/raws/20220517_recorte.parquet"
tmx_recorte.to_parquet(output_path, index=True)