In [1]:
import pandas as pd

In [2]:
f = "../data/raws/20221111/ESOLMET-IP_Tabla_diez_min.dat"
tmx = pd.read_csv( f, skiprows=[0,2,3], sep=",", encoding="latin1", engine="c", on_bad_lines='skip' )
tmx

,TIMESTAMP,RECORD,Batt_Volt_Min,I_glo_Avg,I_dir_Avg,I_dif_Avg,AirTC_Avg,AirTC_Max,AirTC_Min,AirTC_Std,...,RH_Max,RH_Min,RH_Std,WS_ms_Avg,WS_ms_Max,WS_ms_Min,WS_ms_Std,WindDir,CS106_PB_Avg,Rain_mm_Tot
0,2022-05-17 11:50:00,2558,13.02,0,747.3,NAN,30.89,31.51,30.11,0.362,...,29.88,27.80,0.436,2.612,6.95,0.0,1.746,NAN,878.3533,0.0
1,2022-05-17 12:00:00,2559,13.03,0,757,NAN,30.11,30.79,29.60,0.337,...,30.63,28.68,0.471,2.485,6.95,0.0,1.637,NAN,878.1683,0.0
2,2022-05-17 12:10:00,2560,13.02,0,752.8,NAN,30.83,31.10,30.55,0.101,...,29.88,28.41,0.319,2.334,5.45,0.0,1.010,136.1,878.0041,0.0
3,2022-05-17 12:20:00,2561,13.02,0.1,745.3,NAN,30.93,31.51,29.98,0.398,...,30.80,28.00,0.593,2.214,3.95,0.0,0.909,162.9,877.8470,0.0
4,2022-05-17 12:30:00,2562,13.02,0,741.5,NAN,30.46,30.93,29.94,0.224,...,30.83,28.72,0.520,3.231,6.95,0.0,1.502,154.8,877.6639,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21904,2022-11-11 13:40:00,15378,12.95,799.3,778.6,155.2,28.32,28.61,28.03,0.114,...,52.22,49.63,0.563,1.754,3.95,0.0,0.911,186,873.9954,0.0
21905,2022-11-11 13:50:00,15379,13.04,771.7,756.1,154,28.43,28.98,27.93,0.288,...,51.88,49.33,0.647,1.800,4.70,0.0,1.109,208.6,873.9376,0.0
21906,2022-11-11 14:00:00,15380,12.87,747.8,732.5,158.4,28.35,28.71,28.06,0.142,...,51.88,49.70,0.543,2.725,6.20,0.0,1.181,156.8,873.8498,0.0
21907,2022-11-11 14:10:00,15381,13.03,734.8,733.5,158,28.18,28.57,27.52,0.291,...,53.11,49.53,0.796,2.449,4.70,0.0,0.969,77.78,873.7577,0.0
21908,2022-11-11 14:20:00,15382,13.02,724.5,740.4,158.7,28.68,29.29,27.62,0.457,...,52.26,47.52,1.182,2.270,6.20,0.0,1.222,187.2,873.6191,0.0

In [3]:
tmx["TIMESTAMP"] = pd.to_datetime( tmx["TIMESTAMP"], format="%Y-%m-%d %H:%M:%S", errors="coerce")
tmx = tmx.set_index("TIMESTAMP")
tmx = tmx.sort_index()
tmx

,RECORD,Batt_Volt_Min,I_glo_Avg,I_dir_Avg,I_dif_Avg,AirTC_Avg,AirTC_Max,AirTC_Min,AirTC_Std,RH_Avg,RH_Max,RH_Min,RH_Std,WS_ms_Avg,WS_ms_Max,WS_ms_Min,WS_ms_Std,WindDir,CS106_PB_Avg,Rain_mm_Tot
TIMESTAMP,,,,,,,,,,,,,,,,,,,,
2022-05-17 11:50:00,2558,13.02,0,747.3,NAN,30.89,31.51,30.11,0.362,28.96,29.88,27.80,0.436,2.612,6.95,0.0,1.746,NAN,878.3533,0.0
2022-05-17 12:00:00,2559,13.03,0,757,NAN,30.11,30.79,29.60,0.337,29.60,30.63,28.68,0.471,2.485,6.95,0.0,1.637,NAN,878.1683,0.0
2022-05-17 12:10:00,2560,13.02,0,752.8,NAN,30.83,31.10,30.55,0.101,29.17,29.88,28.41,0.319,2.334,5.45,0.0,1.010,136.1,878.0041,0.0
2022-05-17 12:20:00,2561,13.02,0.1,745.3,NAN,30.93,31.51,29.98,0.398,29.37,30.80,28.00,0.593,2.214,3.95,0.0,0.909,162.9,877.8470,0.0
2022-05-17 12:30:00,2562,13.02,0,741.5,NAN,30.46,30.93,29.94,0.224,29.79,30.83,28.72,0.520,3.231,6.95,0.0,1.502,154.8,877.6639,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-11 13:40:00,15378,12.95,799.3,778.6,155.2,28.32,28.61,28.03,0.114,50.75,52.22,49.63,0.563,1.754,3.95,0.0,0.911,186,873.9954,0.0
2022-11-11 13:50:00,15379,13.04,771.7,756.1,154,28.43,28.98,27.93,0.288,50.39,51.88,49.33,0.647,1.800,4.70,0.0,1.109,208.6,873.9376,0.0
2022-11-11 14:00:00,15380,12.87,747.8,732.5,158.4,28.35,28.71,28.06,0.142,50.79,51.88,49.70,0.543,2.725,6.20,0.0,1.181,156.8,873.8498,0.0
2022-11-11 14:10:00,15381,13.03,734.8,733.5,158,28.18,28.57,27.52,0.291,50.84,53.11,49.53,0.796,2.449,4.70,0.0,0.969,77.78,873.7577,0.0
2022-11-11 14:20:00,15382,13.02,724.5,740.4,158.7,28.68,29.29,27.62,0.457,49.32,52.26,47.52,1.182,2.270,6.20,0.0,1.222,187.2,873.6191,0.0

In [4]:
inicio = "2022-05-17 11:50"
fin    = "2022-11-11 14:20"

tmx_recorte = tmx.loc[inicio:fin]
tmx_recorte.head()

,RECORD,Batt_Volt_Min,I_glo_Avg,I_dir_Avg,I_dif_Avg,AirTC_Avg,AirTC_Max,AirTC_Min,AirTC_Std,RH_Avg,RH_Max,RH_Min,RH_Std,WS_ms_Avg,WS_ms_Max,WS_ms_Min,WS_ms_Std,WindDir,CS106_PB_Avg,Rain_mm_Tot
TIMESTAMP,,,,,,,,,,,,,,,,,,,,
2022-05-17 11:50:00,2558,13.02,0,747.3,NAN,30.89,31.51,30.11,0.362,28.96,29.88,27.80,0.436,2.612,6.95,0.0,1.746,NAN,878.3533,0.0
2022-05-17 12:00:00,2559,13.03,0,757,NAN,30.11,30.79,29.60,0.337,29.60,30.63,28.68,0.471,2.485,6.95,0.0,1.637,NAN,878.1683,0.0
2022-05-17 12:10:00,2560,13.02,0,752.8,NAN,30.83,31.10,30.55,0.101,29.17,29.88,28.41,0.319,2.334,5.45,0.0,1.010,136.1,878.0041,0.0
2022-05-17 12:20:00,2561,13.02,0.1,745.3,NAN,30.93,31.51,29.98,0.398,29.37,30.80,28.00,0.593,2.214,3.95,0.0,0.909,162.9,877.8470,0.0
2022-05-17 12:30:00,2562,13.02,0,741.5,NAN,30.46,30.93,29.94,0.224,29.79,30.83,28.72,0.520,3.231,6.95,0.0,1.502,154.8,877.6639,0.0

In [5]:
output_path = "../data/raws/20221111_recorte.parquet"
tmx_recorte.to_parquet(output_path, index=True)